<%- include("../partials/header"); -%>
    <h1><%= article.title %></h1>
    <br>
    <p>
        Title: <%= article.title %><br>
        Author: <%= article.author %><br>
        Description: <%= article.description %><br>
    </p>
    
<%- include("../partials/footer"); -%>