<%- include("../partials/header") %>
    <body>
        <%- include("../partials/navigations") %>
        <div class="container">
            <h1>Detail Articles</h1>
            <br>
            <p>Title: <%= article.title %></p>
            <p>Author: <%= article.author %></p>
            <p>Description: <%= article.description %></p>
            <p>Date: <%= article.published_date %></p>
        </div>
        <%- include("../partials/footer") %>
    </body>
</html>