<%- include("../partials/header") %>
    <body>
        <%- include("../partials/navigations") %>
        <h1>Edit Article</h1>
        <div class="container">
            <form action="/articles/create_article" method="POST">
                <div class="form-group">
                    <label for="inputTitle">Title</label>
                    <input type="text" name="title" class="form-control" id="inputTitle" value="<%= article[0].title %>" required="required">
                </div>
                <div class="form-group">
                    <label for="inputAuthor">Author</label>
                    <input type="text" id="author-input" name="author" class="form-control" id="inputAuthor" value="<%= article[0].author %>" required="required">
                </div>
                <div class="form-group">
                    <label for="inputDescription">Description</label>
                    <textarea name="description" class="form-control" id="inputDescription" rows="5" required="required"><%= article[0].description %></textarea>
                </div>
                <div class="form-group">
                    <label for="inputDate">Published Date</label>
                    <input type="date" name="published_date" class="form-control" id="inputDate" value='11/20/2019' required="required">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <%- include("../partials/footer") %>
    </body>
</html>