<%- include("../partials/header") %>
    <body>
        <%- include("../partials/navigations") %>
        <% if (message) { %>
            <div class="alert alert-primary" role="alert">
                <%= message %>
            </div>
          <% }; %>
        <div class="container">
            <h1>Articles Page</h1>
            <br>
            <ol>
                <% data.forEach(function(item){ %>
                    <li>
                        <p>Title: <%= item.title %></p>
                        <p>Author: <%= item.author %></p>
                        <p>Description: <%= item.description %></p>
                        <p>Date: <%= item.published_date %></p>
                    </li>
                    <div class="options">
                        <a href="/articles/detail/<%= item._id %>">Show</a>
                        <a href="/articles/edit/<%= item._id %>">Edit</a>
                        <a href="/articles/delete/<%= item._id %>">Delete</a>
                    </div>
                    <br>
                <% }) %> 
            </ol>
        </div>
    </body>
</html>